{% extends "layout.html" %}

{% block body %}
  <div class="uk-container">

    <div class="uk-card uk-card-hover uk-width-4-5">
      <div class="uk-card-body">
        <h1>Naapurivahti-sovellus</h1>
      </div>
      <div class="uk-card-footer">
        <a class="uk-link-text" href="https://en.wikipedia.org/wiki/Duck">Duck | Wikipedia - The Free Encyclopedia</a>
      </div>
    </div>

    <div class="uk-grid">
      <div class="uk-width-2-3 uk-padding">
        <p>
          <strong>Work in progress</strong> - <em> olen keskeneräinen</em>
        </p>
        <p>
          Pastrami prosciutto biltong id frankfurter labore tempor pork loin non reprehenderit. Biltong shankle frankfurter aliqua ipsum, non laboris chislic. Shankle doner pork belly jerky leberkas kevin ut cow fatback drumstick do bresaola prosciutto excepteur. Strip steak adipisicing laborum ribeye tail pork loin do pork chop aliqua esse meatball. Ullamco proident ex consectetur, cow bresaola ut flank voluptate chuck. Occaecat filet mignon ut pork belly ham chuck flank brisket mollit id aliqua biltong tenderloin burgdoggen.
        </p>
        <p>
          Flank ut tempor, corned beef sed incididunt kielbasa lorem ea aliqua. Pork belly boudin spare ribs, excepteur laborum est sirloin tri-tip consectetur reprehenderit cupim biltong chuck exercitation. Fugiat reprehenderit frankfurter aliqua dolore jerky. Fatback culpa aliqua eiusmod. Ribeye tenderloin shank commodo sed proident culpa dolor buffalo drumstick chicken ullamco. Proident incididunt fatback shank pork belly kevin short loin et nisi. Tri-tip in laborum, veniam sirloin chicken reprehenderit fugiat beef meatball ea.
        </p>
        <p>
          Meatball dolore venison laboris sirloin dolor. Aute sunt biltong ut beef ribs esse anim cow consequat ut. Duis quis kielbasa hamburger velit tail aute short loin eu irure. Exercitation elit doner pork belly, ground round cupim short ribs sunt turducken qui salami bresaola short loin.
        </p>
        <p>
          Voluptate pig irure, nostrud kielbasa deserunt shoulder. Duis corned beef chislic, alcatra kielbasa culpa tail pork chop kevin dolore do ad fugiat labore ex. Burgdoggen turkey fugiat flank jerky ut tongue chicken ex id consequat. Ham cow capicola ut landjaeger turducken excepteur chuck shank pork ut. Prosciutto swine lorem, t-bone velit landjaeger beef bacon. Ham hock occaecat aute pork belly nostrud. Laboris elit in burgdoggen dolor non lorem alcatra corned beef fatback prosciutto et venison nulla.
        </p>
        <p>
          Fusce eleifend tellus non mauris cursus consequat. Maecenas vel sapien viverra, mattis est non, aliquam ante. In magna enim, pretium ac sem a, consequat tincidunt nibh. Pellentesque id tristique dui. In tellus risus, tincidunt ac massa vitae, hendrerit euismod mauris. Maecenas eget congue libero, quis pulvinar sem. Etiam mollis vulputate tellus, eget mollis ipsum ultricies at. Vivamus maximus euismod magna, ut facilisis mi posuere lobortis.
        </p>
        </div>
      <div class="uk-width-1-3">

        <h4>HTTP status of the day</h4>
        <img data-src="https://http.cat/599" width="" height="" alt="http 599 Network connect timeout error" uk-img>
      </div>
    </div> <!-- grid -->

  </div> <!-- container -->
{% endblock %}


{% block test %}
  <p>
    Terveisiä testiblokista!
  </p>
{% endblock %}