<!DOCTYPE html>
<html lang="fi-FI">
  <head>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.15/dist/css/uikit.min.css" integrity="sha256-dd4tpE1nBlN7bRyNAIQnJdbxQTQuV2RJ6OT8Ha9rbWU=" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Naapurivahti&trade;</title>
    <meta name="author" content="kriskrok">
    <meta name="description" content="Naapurivahti&trade; sovellusapplikaatioinstanssi">
    <!-- TODO:// Sort icons -->
  </head>

  <body>
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="{{ url_for('index') }}">Etusivu</a></li>
              {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('reports_list' )}}">Raportit</a></li>
                <li><a href="{{ url_for('list_shifts') }}">Vuorot</a></li>
              {% else %}
                <li><a href="{{ url_for('authenticate_login') }}">Kirjaudu sisään</a></li>
                <li><a href="{{ url_for('open_signupform') }}">Luo tili</a></li>
              {% endif %}
          </ul>
      </div>
  
      {% if current_user.is_authenticated %}
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li class="uk-active">
                  <a href="#">
                      <span class="uk-icon uk-margin-small-right" uk-icon="icon: menu"></span>
                  </a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><del>Omat tiedot</del></li>
                            <li class="uk-active"><a href="{{ url_for('authenticate_logout') }}">Kirjaudu ulos</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
      {% endif %}
  
    </nav>

    {% block body %}
      <p>Here be content</p>
    {% endblock %}

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.15/dist/js/uikit.min.js" integrity="sha256-YoJUQRTboRSLxOf8Ga7KioU786c+BMG/S1lz0GbxVP0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.15/dist/js/uikit-icons.min.js" integrity="sha256-K5aJ0jKS5D3FamzwL++P//19D31/hqMl6QVF8g6OSW0=" crossorigin="anonymous"></script>

  </body>
</html>