{% extends "layout.html" %}

{% block body %}
  <div class="uk-container">
    <div class="uk-grid">
      <div class="uk-width-2-3">
        <p>&nbsp;</p>
      </div>
    </div>

    <div class="uk-grid">
      <div class="uk-width-2-3">
        <h1>Raporttiin #{{ report_id }} liittyvät havainnot</h1>
        <a href="{{ url_for('open_observationform', report_id=report_id ) }}" class="uk-button uk-button-primary">Lisää havainto</a>
      </div>
      <div class="uk-width-1-3">
          <a href="{{ url_for('reports_list') }}" class="uk-button uk-button-primary">Palaa</a>
      </div>

      <table class="uk-table uk-table-striped uk-table-hover uk-table-middle uk-table-divider">
        <thead>
          <tr>
            <th>Havaintoaika</th>
            <th>Havainto</th>
            <th>Vaatii toimenpiteitä</th>
            <th>Raportoija</th>
          </tr>
        </thead>
        <tbody>
          {% for item in observations %}
            <tr>
              <td>{{ item[0].timing.strftime('%H:%m') }}</td>
              <td>{{ item[0].comment }}</td>
              {% if item[0].requires_action %}
                <td>&check;</td>
              {% else %}
                <td>&horbar;</td>
              {% endif%}
              <td>{{ item[1].username }}</td>
              <td class="uk-table-link">
                <a class=uk-link-reset href="{{ url_for('open_observationform', observation_id = item[0].observation_id, report_id=report_id) }}">&#128065;
                </a>
              </td>
              <td class="uk-table-link">
                <a class=uk-link-reset href="{{ url_for('remove_observation', observation_id = item[0].observation_id, report_id=report_id) }}">&#128465;
                </a>
              </td>
            </tr>
          {% endfor%}          
        </tbody>
      </table>
    </div>

  </div>
{% endblock %}