{% extends "layout.html" %}

{% block body %}
  <div class="uk-container">
    <p>Olokkee hyvä ja täyttäkkee.</p>
    <p>{{ error }}</p>
    <form method="POST" action="{{ url_for('save_observation', report_id=report_id, observation_id=observation_id) }}">
      <table>
        <tr>
          <td>
            {{ observationform.comment.label }}
          </td>
          <td>
            {{ observationform.comment(rows='3', cols='40') }}
          </td>
        </tr>
        <tr>
          <td>
            {{ observationform.timing.label}}
          </td>
          <td>
            {{ observationform.timing}}
          </td>
        </tr>
        <tr>
          <td>
            {{ observationform.requires_action.label }}
          </td>
          <td>
            {{ observationform.requires_action }}
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" value="Lähetä"/>
          </td>
        </tr>
      </table>
    </form>

    <div class="uk-grid">
      <div class="uk-width-2-3">
          <a href="{{ url_for('list_report', report_id=report_id) }}" class="uk-button uk-button-primary">Palaa</a>
      </div>
    </div>
  </div>
{% endblock %}